html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	/*background-color: #e5e8eb;*/
}

header {
	padding: 10px 20px;
	margin-bottom: 10px;
	box-shadow: 0 0 1px rgba(0,0,0,.2);
	overflow: hidden;
}

main {
	width: 85%;
	min-width: 640px;
	margin: 0 auto;
}

.navbar {
	margin-bottom: 0;
	float: right;
	margin-right: 20%;
}

.sidebar {
	margin-left: 20px;
}
