{"abcaeffaeffaef":[{"value":"android","operator":"≈","code":"404","act":"ua"},{"value":"iphone","operator":"≈","code":"403","act":"ua"},{"value":"*","operator":"≈","code":"200","act":"ua"},{"value":"*","operator":"≈","code":"200","act":"ua"}],"fab5a67af45f05d36488cea77010896f":[{"value":"*","operator":"≈","code":"200","act":"ua"},{"value":"iphone","operator":"≈","code":"404","act":"ua"},{"value":"test321","operator":"=","code":"403","act":"url"},{"value":"test321","operator":"≈","code":"403","act":"url"},{"act":"url","operator":"≈","code":"403","value":"\/test321"}]}