<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hermes</title>
	<link rel="stylesheet" href="css/vendors/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">

	<script data-mian="js/index.js" src="js/vendors/require.js"></script>
</head>
<body>
	<header>
		<nav class="navbar">
			<ul class="nav nav-pills">
				<li role="presentation" class="active">
					<a href="#">主页</a>
				</li>

				<li role="presentation">
					<a href="config.html">规则</a>
				</li>

				<li role="presentation">
					<a href="#">关于</a>
				</li>
			</ul>
		</nav>
	</header>

	<main id="presentation">
		<canvas id="chart"></canvas>
	</main>
</body>

<script type="text/template" id="edges-list">
	<% for(var p in data) {%>
	<%- data[p]['name'] || '-' %>
	<% }%>
</script>

<script src="js/vendors/chart.js"></script>
<script src="js/vendors/jquery.js"></script>
<script src="js/vendors/bootstrap.js"></script>
<script src="js/index.js"></script>
</html>